<%= form_for [:admin, @post] do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control ckeditor", rows: 10 %>
  </div>

  <div class="form-group">
    <%= f.check_box :published %>
    <%= f.label :published %>
  </div>

  <%= f.submit "Uložiť článok", class: "btn btn-primary" %>

<% end %>